// Overlay Resources
1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x00001
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "ClipX"
            VALUE "FileDescription", "ClipX Overlay Window"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Overlay"
            VALUE "OriginalFilename", "Overlay.exe"
            VALUE "ProductName", "ClipX"
            VALUE "ProductVersion", "1.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
